<div class = "recipe">
<h1>Editing Recipe</h1>

<%= render 'form' %>

 
<div id = "editRecipeBackButton">
	 <form id="submit" action="/recipes/<%= @recipe.id %> " >
	 	<button type="submit">SHOW</button>
	 </form>
	 <form id="back" action="/">
	 	<button type="submit">BACK</button>
	 </form>


</div>
  