<div class= "recipe">
<h1>New Recipe</h1>

	<div id= "recipeForm">
		<%= render 'form' %>

	</div>
	 <div id = "NewRecipeBackButton">
	 <form action="/">
	 	<button type="submit">BACK</button>
	 </form>

	<!-- 	<%= link_to 'Back', recipes_path %>
	</div>   -->
</div>