<% unless user_signed_in? %>
<div class="jumbotron">
  <h1>Welcome to Herbal Fusion!</h1>
  <p>
        You've found the home page for the Herbal Fusion.  Please review your local laws regarding Marijuana before using any of these recipes.  Keep any of the food made from these recipes out of reach from childeren.  Wait ___time, food can take longer to take effect.
        <img src="/images/image.jpg" alt="image" />
  </p>
  <p>
        <!-- <a href="#">Sign Up Now!</a> -->
        <%= link_to("Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-lg" )%>
  </p>
</div>
<% end %>
